.matrix-table {
    width: 100%;
    border-collapse: collapse;
}
    .matrix-table td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        min-width: 40px;
    }
.largest-area {
    background-color: lightgreen;
    color: greenyellow;
}
.matrix-visualization{
    margin-top: 20px;
    overflow-x: auto;
}
