@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <div>
            <h4>Bemeneti adatok</h4>
        </div>
        <div>
            <div>
                <textarea id="matrixinput"></textarea>
            </div>
            <div>
				<input type="number" id="epsziloninput"/>
            </div>
            <button id="calculatebutton">Küldés</button>
        </div>
    </div>
    <div>
        <div>
            <h4>Eredmény</h4>
        </div>
        <div>
            <div id="resultarea">
                <p>A számítás eredményei itt jelennek meg: </p>
            </div>
            <div id="matrixvisualization" class="matrix-visualization">

            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/matrix.js"></script>
}
